<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>glow-pi</h1>
    <p>Welcome to glow-pi!</p>
  </body>
</html>